
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

picture {
    margin: 0;
    border: none;
}

b {
    display: block;
}

button {
    cursor: pointer;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--color-white);
  color: var(--color-logo-dark);
}

.not-found{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

:root {
  /* Colors */
  --color-dark: #000;
  --color-white: #fff;
  --color-border: #001529;
  --accent-color: #1677ff;
  --background-grey: #f5f5f5;
  --shadow: rgba(0, 0, 0, 0.7);
}